---
title: "AdminJS: The Backend-Agnostic Administration Framework"
---

%section#demo
  %iframe{src: '/demo/index.html'}

  %p.built-with Built with #{link_to 'Ember.js', 'http://emberjs.com'} and #{link_to 'EPF', 'http://epif.io'}


%section#installation
  ~ partial 'installation'

